@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

input,
button,
textarea {
	font-size: inherit;
}
a {
	color: inherit;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
img {
	vertical-align: top;
}
nav ul li {
	list-style: none;
}
.wrapper {
	display: flex;
	flex-direction: column;
	font-family: "Rajdhani", sans-serif;
	font-size: 18px;
	min-height: 100%;
	overflow: hidden;
}
main {
	flex: 1 1 auto;
	margin: 0 0 25px 0;
}
nav ul li {
	font-weight: 500;
}
.header__container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
ul li:not(:last-child) {
	margin: 0 15px 0 0;
}

nav ul {
	display: flex;
	justify-content: flex-end;
}
footer,
header {
	background-color: lemonchiffon;
	min-height: 30px;
}

.main__container {
	padding: 30px 15px 0 15px;
	max-width: 1170px;
	margin: 0 auto;
}
.main__info {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 25px;
}
@media (max-width: 1180px) {
	.main__info {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 664px) {
	.main__info {
		grid-template-columns: 1fr;
	}
}
.main__info > * {
	padding: 30px;
	border-radius: 25px;
}
.info__image {
	padding: 0;
	border: 5px solid rgba(137, 43, 226, 0.227);
	border-radius: 25px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.info__image img {
	border-radius: 25px;
	max-width: 200px;
}
.lastname {
	background-color: rgba(137, 43, 226, 0.227);
	padding: 30px;
	grid-column: span 2;
	order: 0;
}
@media (max-width: 664px) {
	.lastname {
		grid-column: span 1;
	}
}
.socialnet {
	background-color: blanchedalmond;
	order: 5;
}
.socialnet span {
	font-weight: 500;
	margin: 0 5px 0 0;
}
.education {
	background-color: rgba(0, 128, 0, 0.289);
	order: 1;
}
.contacts {
	background-color: rgba(255, 0, 247, 0.224);
	order: 2;
}
.skills {
	background-color: rgba(255, 255, 0, 0.309);
	order: 3;
}
.codeexample {
	background-color: rgba(255, 0, 0, 0.201);
	grid-column: span 3;
	order: 6;
}
@media (max-width: 1180px) {
	.codeexample {
		grid-column: span 2;
	}
}
@media (max-width: 664px) {
	.codeexample {
		display: none;
	}
}
.examples {
	background-color: rgba(0, 0, 255, 0.256);
}
.hobby {
	background-color: rgba(255, 166, 0, 0.196);
	order: 7;
}
.aboutme {
	background-color: rgba(165, 42, 42, 0.211);
	grid-column: span 2;
	order: 4;
}
@media (max-width: 664px) {
	.aboutme {
		grid-column: span 1;
	}
}
.example img {
	width: 100%;
	border-radius: 25px;
	opacity: 0;
}

.example::before {
	content: "Example:";
	position: absolute;
	left: 20px;
	right: 5px;
}
.example {
	position: relative;
	border: 5px solid rgba(137, 43, 226, 0.227);
	background-color: rgba(137, 43, 226, 0.227);
	border-radius: 25px;
	padding: 10px;
	order: 8;
}
.example a {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
}
.bylychev {
	grid-column: span 2;
}
@media (max-width: 664px) {
	.bylychev {
		grid-column: span 1;
	}
}
.example:hover img {
	transition: 3s ease;
	opacity: 1;
}
.example:hover::before {
	display: none;
}
